# Binaries
./app
bin/

# Vendor directory (if using Go modules)
vendor/


# Temporary files
*.tmp
*.swp
*.swo
*.DS_Store

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# misc files
README.md
Makefile
.github/
